.centered {
    text-align: center; 
}

.navigation {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;

}

.navigation ul {
    list-style-type: none;
    display: flex;
    right: 10px;
}

.navigation li {
    margin: 0;
    padding: 0;
}

.navigation ul li {
	display:inline-flex;
	margin: 0.3em 1em;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 05px;
    border: 1px solid #ccc;
    min-width: 100px; /* Set a base width */
    text-align: center;
    flex: 1; /* Distribute available space evenly */
}

.navigation a:hover {
    background-color: #f0f0f0;
}

body {
    overflow-x: hidden;
}

head, body {
    font-family: 'Share Tech Mono', monospace;
}




.li {
    margin: 0;
    padding: 0;
}


.margin {
	margin-top: 30px;
    margin-bottom: 30px;
}

.imagey {
    max-height: 10%;
    width: 30%;
    display: block;
    margin: 0 auto;
}

.label-text {
    font-size: 36px;
}

.placeholder {
    background-color: #3498db;
    border: 2px solid #000000;
	width: 50%; 
	display: table-cell;
}

.menu-icon {
    display: none; /* Hide the icon by default */
    cursor: pointer;
}

.icon {
    font-size: 36px;
}

.navigation input[type="checkbox"],
.navigation label {
      display: none;
    }
@media (max-width: 1850px) {
	.navigation input[type="checkbox"]:not(:checked) + ul {
        display: none;
      }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 0;
        margin-right: 0;
    }
	.navigation label {
		text-align: right;
		display: block;
        padding: 0.7em;
        line-height: 1.6em;
        align-self: center;
	}
    /* Because we are in mobile mode, we want to display it as a
       vertical list */
    .navigation ul {
        display: block;
    }
    /* We have two lists: the first one are the always visibile items
       in the menu bar. The second one is the one that will be hidden */
    .navigation ul:last-child {
        width: 100%;
        flex-basis: 100%;
		background-color: #ccc;
    }
    .navigation ul li {
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0.5em;
	}
}



body {
	background-color: #f8fafc;
}

.container {
	padding: 2rem;
}

.slider-wrapper {
	position: relative;
	max-width: 75rem;
	margin: 0 auto;
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
  }


.slider:hover .caption {
    opacity: 1; /* Show the caption when hovering over the slider item */
  }
  
.slider {
	display: flex;
	aspect-ratio: 16 / 9;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
	border-radius: 0.5rem;
	-ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	scrollbar-width: none; /* Hide scrollbar Firefox */
}

.slider-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.slider::-webkit-scrollbar {
	display: none;
}

.slider img {
	flex: 1 0 100%;
	scroll-snap-align: start;
	object-fit: cover;
}

.slider-nav {
	display: flex;
	column-gap: 1rem;
	position: absolute;
	bottom: 1.25rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.slider-nav a {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 50%;
	background-color: #fff;
	opacity: 0.75;
	transition: opacity ease 250ms;
}

.slider-nav a:hover {
	opacity: 1;
}
